.about{
    background-color: black;
    flex: 4;


    h1{
        color: white;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: underline;
    }
}