.abo{
flex: 4;
display: flex;


.text{
    color: white;
    font-size: 20px;
    max-width: 50%;
    margin-top: 40px;
    

    .about{
        margin-top: 30px;
    }


}

      
    
    
            img {
                height: 400px;
                width: 400px;
                border-radius: 50%;
                margin-left: 40px;
            }
    
  
 
}